li {
  padding: 5px;
  margin: 5px;
  background: #ff0000;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: green;
}

.form-group {
  margin-bottom: 5px;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
  background-color: yellow;
}

body {
  background-color: rgb(129, 221, 129);
}
